################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AccountManagement.API/.vs
/AccountManagement.API/bin/Debug/net7.0
